
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#definition1 {
  /* display: none; */
}

#hidedefinition1 {
  display: none;
}

#definition2 {
  /* display: none; */
}

#hidedefinition2 {
  display: none;
}

/* from derrak's project
.clickable {
  cursor: pointer;
  color: darkslateblue;
}

.definition1 {
  display: none;
} */
